.card {
	display: center;
	background-color: #fff;
	color: #757575;
	margin: 10px;
	padding: 20px;
	width: 320px;
	border: 1px solid #c9c9c9;
	border-radius: 7px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15)
}

.card__image {
	width: 100%;
	border-radius: 7px 7px 0 0;
	margin-bottom: 10px;
}

.card__headline {
	color: rebeccapurple;
}

.class__description {
	line-height: 1.2;
	color: #757575;
}

.button {
	text-decoration: none;
	background-color: rebeccapurple;
	color: #fff;
	padding: 0.5em 1em;
	border-radius: 4px;

}


